@model TRPITUSUserInterface.Models.DisplayProfileModel

@{
    ViewData["Title"] = "Insert New Profile";
}

<div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
        <img class="img-logo" src="https://cdn-icons-png.flaticon.com/512/2312/2312400.png" />
        <form asp-action="InsertNewProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="formbold-form-title">
                <h2 class="">New Profile Info</h2>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="text"
                           asp-for="Name"
                           placeholder="Name"
                           class="formbold-form-input" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div>
                    <input type="number"
                           asp-for="Age"
                           placeholder="Age"
                           class="formbold-form-input" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="text"
                           asp-for="Residence"
                           placeholder="Residence"
                           class="formbold-form-input" />
                    <span asp-validation-for="Residence" class="text-danger"></span>
                </div>
                <div>
                    <input type="text"
                           asp-for="Citizenship "
                           placeholder="Citizenship "
                           class="formbold-form-input" />
                    <span asp-validation-for="Citizenship" class="text-danger"></span>
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="text"
                           asp-for="MaritalStatus "
                           placeholder="Marital Status "
                           class="formbold-form-input" />
                    <span asp-validation-for="MaritalStatus" class="text-danger"></span>
                </div>
                <div>
                    <input type="number"
                           asp-for="Children"
                           placeholder="Children"
                           class="formbold-form-input" />
                    <span asp-validation-for="Children" class="text-danger"></span>
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="text"
                           asp-for="Education"
                           placeholder="Education"
                           class="formbold-form-input" />
                    <span asp-validation-for="Education" class="text-danger"></span>
                </div>
                <div>
                    <input type="text"
                           asp-for="ImageSource"
                           placeholder="Image Source"
                           class="formbold-form-input" />
                    <span asp-validation-for="ImageSource" class="text-danger"></span>
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="number"
                           asp-for="Rank"
                           placeholder="Rank"
                           class="formbold-form-input" />
                    <span asp-validation-for="Rank" class="text-danger"></span>
                </div>
                <div>
                    <input type="text"
                           asp-for="NetWorth"
                           placeholder="NetWorth"
                           class="formbold-form-input" />
                    <span asp-validation-for="NetWorth" class="text-danger"></span>
                </div>
            </div>

            <div class="formbold-input-flex">
                <div>
                    <input type="text"
                           asp-for="Source"
                           placeholder="Source"
                           class="formbold-form-input" />
                    <span asp-validation-for="Source" class="text-danger"></span>
                </div>

                <div>
                    <input type="text"
                           asp-for="Industry"
                           placeholder="Industry"
                           class="formbold-form-input" />
                    <span asp-validation-for="Industry" class="text-danger"></span>
                </div>
            </div>

            <button class="formbold-btn" type="submit">Submit The New Profile</button>

        </form>
    </div>
</div>
